{% extends base.html %}
{% block content %}


<div class="jumbotron">
    <div class="container">
        <h1>Web Mapping Gallery</h1>

        <p>
            This is a gallery of web maps.
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for wms in wms_set %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="/wms/{{ wms.slug }}">
                    <img src="{{ wms.preview }}"
                         alt="{{ wms.name }} Thumbnail">
                </a>
                <div class="caption">
                    <h3>{{ wms.name }}</h3>
                    <p>{{ wms.description }}</p>
                    <p><a href="/wms/{{ wms.slug }}"
                          class="btn btn-default"
                          role="button">View</a></p>
                </div>
            </div>
        </div>
        {%  endfor %}
    </div>
</div>

</div> <!-- /container -->
{%  endblock %}
