{% extends 'base.html' %}

{% block title %}InaSAFE{% endblock %}

{% block content %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" xmlns="http://www.w3.org/1999/html">
<div class="container-fluid">
  <a id="about" class="navbar-brand"
          data-toggle="modal"
          href="about"
          data-target="#about-modal"
          >InaSAFE</a>
  <a id="help-button" class="btn btn-default navbar-btn pull-right"
          data-toggle="modal"
          href="help"
          data-target="#help-modal">Help</a>
</div>
</nav>

<div id="map"></div>

<div class="github-fork-ribbon-wrapper left-bottom">
  <div class="github-fork-ribbon">
      <a href="https://github.com/kartoza/django_wms_client">Fork me on GitHub</a>
  </div>
</div>

<!-- About Modal -->
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog"
     aria-labelledby="about-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->


<!-- Help Modal -->
<div class="modal fade" id="help-modal" tabindex="-1" role="dialog"
     aria-labelledby="help-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

{% endblock %}

{% block extra_js %}

<script type="text/javascript">

</script>
{% endblock %}
